@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

/* .ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
} */

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}
body {
  background-color: hsl(206, 94%, 87%);
  font-size: 16px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
input {
  padding: 80px;
  width: 320px;
  border: 1px solid red;

}
.d-none {
  overflow: hidden;
}